<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Toothpick.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>89DDB143214AD5B800F4F2E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89DDB157214AD5BA00F4F2E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89DDB162214AD5BA00F4F2E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
